# OpenAI (GPT-5 + Images)
OPENAI_API_KEY=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

# ElevenLabs (TTS)
ELEVEN_API_KEY=sk_d8a31e088c33c9fa03a2c1833d03cf7e21d9b25a7ef37058
ELEVEN_VOICE_ID=1K995AzaIWTTHzSE6Mk9

# Nebius (für späteres Hosting/Storage)
NEBIUS_ACCESS_KEY=
NEBIUS_SECRET_KEY=
NEBIUS_REGION=eu-central-1
NEBIUS_BUCKET=aiflix